@import "tailwindcss";


/* Apply to all elements */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* WebKit browsers */
*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Rajdhani', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

